<div *ngIf="note; else dupa">
  <p>
    Ałtor: {{note.author}}
  </p>

  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="Tytuł" [(ngModel)]="note.title" (ngModelChange)="updateDate($event)" width="500px">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <textarea type="text" matInput placeholder="Kątent" [(ngModel)]="note.content" (ngModelChange)="updateDate($event)" width="500px"></textarea>
    </mat-form-field>
  </p>

  <p>
    Data: {{note.date}}
  </p>

</div>
<ng-template #dupa>
  Dupa panie
</ng-template>
