<div *ngIf="note">
  <p>
    Ałtor: {{note.author}}
  </p>

  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="Tytuł" [(ngModel)]="note.title" (ngModelChange)="updateTime()" width="500px">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <textarea type="text" matInput placeholder="Kątent" [(ngModel)]="note.content" (ngModelChange)="updateTime()"></textarea>
    </mat-form-field>
  </p>

  <p>
    Było aktualne: {{note.updated | date: 'fullTime' }}
  </p>

</div>
